export("%in%")
export(abs)
export(ceil)
export(collapse)
export(duplicated)
export(exp)
export(floor)
export(match)
export(pow)
export(self_match)
export(sort_unique)
export(table)
export(unique)
useDynLib(RcppSugar)
