export("sugar_%in%")
export(attach_sugar)
export(detach_sugar)
export(gcd)
export(lcm)
export(sugar_abs)
export(sugar_ceil)
export(sugar_collapse)
export(sugar_duplicated)
export(sugar_exp)
export(sugar_floor)
export(sugar_match)
export(sugar_pow)
export(sugar_self_match)
export(sugar_sort_unique)
export(sugar_table)
export(sugar_truncate)
export(sugar_unique)
useDynLib(RcppSugar)
